# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Local Terraform variables
terraform.tfvars

# Terraform plan files
*.tfplan

# Terraform lock file
# Diese Datei versionieren wir bewusst
#! .terraform.lock.hcl

# Environment
.env

# IDE
.vscode/

# macOS
.DS_Store